[submodule "Week-1-Rock-vs-Mine"]
	path = Week-1-Rock-vs-Mine
	url = https://github.com/Aniket-k-13/rock-vs-mine-ml.git
[submodule "Week-2-Diabetes-Prediction"]
	path = Week-2-Diabetes-Prediction
	url = https://github.com/Aniket-k-13/Diabetes-Prediction.git
[submodule "Week-3-House-Price-Prediction"]
	path = Week-3-House-Price-Prediction
	url = https://github.com/Aniket-k-13/House-Price-Prediction.git
[submodule "Week-4-Linear-Regression-From-Scratch"]
	path = Week-4-Linear-Regression-From-Scratch
	url = https://github.com/Aniket-k-13/linear_regression_from_scratch.git
[submodule "Week-5-Logistic-Regression-From-Scratch"]
	path = Week-5-Logistic-Regression-From-Scratch
	url = https://github.com/Aniket-k-13/Logistic_regression_from_scratch.git
[submodule "Week-6-Fake-News-Detection"]
	path = Week-6-Fake-News-Detection
	url = https://github.com/Aniket-k-13/Fake_NEWS_detection.git
[submodule "Week-7-Loan-Status-Prediction"]
	path = Week-7-Loan-Status-Prediction
	url = https://github.com/Aniket-k-13/Loan_Status_Prediction.git
[submodule "Week-8-Wine-Quality-Prediction"]
	path = Week-8-Wine-Quality-Prediction
	url = https://github.com/Aniket-k-13/Wine-Quality-Prediction.git
[submodule "Week-9-Car-Price-Prediction"]
	path = Week-9-Car-Price-Prediction
	url = https://github.com/Aniket-k-13/Car_Price_Prediction.git
